body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    color: aliceblue;
    font-size: 110px;
    text-align: center;
}

h2 {
    color: aliceblue;
    text-align: center;
    font-size: 60px;
}

p {
    color: aliceblue;
    text-align: center;
}

.Donate-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(238, 66, 95), rgb(116, 17, 116));
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
}

#bannar {
    text-align: center;
    background-image: url(images/bannar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}